*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    gap: 50px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    
}
.cards{
    
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    height: 70%;
    width: 25%;
    box-shadow: 10px 10px 20px slategrey;
    align-items: center;
    justify-content: center;
    gap: 50px;    
}
a{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(32, 157, 206);
    border-radius: 30px;
    padding: 10px;
    height: 10%;
    width: 50%;
    text-decoration: none;
    color: white;
    border: none;
    font-size: 20px;
    
}
img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 40%;
    border: 2px; 
    border-style: inset;
    
}

